body,
input {
    font-size: 2rem;
    /* Also doubles the text size inside input fields */
}

/* Style to make the input and button appear on the same line */
.input-container {
    display: flex;
    align-items: center;
}

#textInput {
    margin-right: 0.5em;
    /* Optional: space between input and button */
}

#counter {
    color: grey; /* Sets the text color to grey */
    font-size: 0.5em; /* Reduces font size to half the normal size */
    vertical-align: super; /* Positions the text as superscript */
  }