body {
    /* Also doubles the text size inside input fields */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Style to make the input and button appear on the same line */
.input-container {
    display: flex;
    align-items: center;
}

#textInput {
    margin-right: 0.5em;
    /* Optional: space between input and button */
}

#counter {
    color: grey; /* Sets the text color to grey */
    font-size: 0.5em; /* Reduces font size to half the normal size */
    vertical-align: super; /* Positions the text as superscript */
  }

.tabs {
    display: flex;
    background-color: #f1f1f1;
    border-bottom: 2px solid #ddd;
}

.tab {
    padding: 15px 20px;
    cursor: pointer;
    flex: 1;
    text-align: left;
    transition: background-color 0.3s;
    position: relative;
    display: inline-block;
}

.tab:hover {
    background-color: #e0e0e0;
}

.tab.active {
    background-color: #0078D7;
    color: white;
    font-weight: bold;
}

.content {
    padding: 20px;
    display: flex;
    height: calc(100vh - 48px); /* Adjust for tab height */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.badge {
    background-color: red;
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 10px;
    position: relative;
    top: -3px;
    margin-left: 5px;
}

.tab:not(.active) #buttons .fa-solid {
    display: none; /* Hides the button if the parent does not have the active class */
}

.tab.active #buttons .fa-solid {
    display: inline; /* Ensures the button is visible when the parent has the active class */
}
